{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.1.0"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "add-module-exports"
  ]
}
